APP_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=workshop_db
DB_SSLMODE=disable

JWT_SECRET=
ADMIN_NAME=System Admin
ADMIN_EMAIL=admin@workshop.local
ADMIN_PASSWORD=